@import "./global.scss";
.app {
  height: 100vh;

  .sections {
    @include custom-scroll-bar(#999);
    width: 100%;
    height: calc(100vh - 70px);
    background-color: white;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;

    > * {
      width: 100vw;
    }
  }
}
